<% include ../partials/head %>
<div class="container-fluid" style="background-color: rgba(128,128,128,0.05)">
	<div class="row" style="margin-top: 1%;">
		<div class="col-md-11">
			<legend>Admin Panel</legend>
		</div>
		<div class="col-md-1">
			<a href="/logout" class="btn btn-info">Logout</a>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-offset-1 col-md-6">
			<!-- <form class="form-horizontal" action="/sangram_iitr_admin_panel_2017_yo" method="post" id="post_form"> -->
				 <form class="form-horizontal" action="/sangram_iitr_admin_panel_2017_yo" method="post" id="post_form" enctype="multipart/form-data"> 
				<legend>Upload your article</legend>
				<div class="form-group col-md-12">
					<textarea id="editor" class="form-control" rows="3" placeholder="Paste your article here..." name="statement">
					</textarea>
					<div class="form-group col-md-6">
						<input type="text" name="option_a" placeholder="Option A" />
						<input type="text" name="option_b" placeholder="Option B" />
						<input type="text" name="option_c" placeholder="Option C" />
						<input type="text" name="option_d" placeholder="Option D" />
					</div>
					<div class="form-group col-md-6">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="inputEmail3" placeholder="Correct Answer" name="correct_answer">
							(please write the correct answer not the option!!!)
						</div>
					</div>
				<div class="form-group col-md-6">
					<input type="file" name="image" accept="image/*">
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<center><button type="submit" class="btn btn-default" style="position:relative;margin-right: 50px;">Upload</button></center>
					</div>
				</div>
				<% if(message){%>
				<%= message %>
				<%}%>
			</form>
		</div>
	</div>	
	<!-- <form class="form-horizontal" action="/end-quiz" method="post" id="post_form">
	<button> End Quiz </button>
	</form>
	<form class="form-horizontal" action="/start-quiz" method="post" id="post_form">
	<button> start Quiz </button>
	</form>  -->
	<h3>All Questions</h3>
	<table id="myTable" class="table table-striped table-bordered" style="table-layout: fixed;word-wrap: break-word;">
		<thead>
			<tr>
				<td class="center-align">Id</td>
				<td class="center-align">Statement</td>
				<td class="center-align">Correct Answer</td>
				<td>Options</td>
			</tr>
		</thead>
		<% questions.forEach(function(question) { %>
		<tr>
			<td><%= question.id %></td>
			<td><%- question.statement %></td>
			<td><%= question.correct_answer %></td>
			<td>
				A: <%- question.option_a %><br/>
				B: <%- question.option_b %><br/>
				C: <%- question.option_c %><br/>
				D: <%- question.option_d %><br/>
			</td>
		</tr>
		<% }); %> 
		<tbody>
		</tbody>
	</table>
</div>
<script type="text/javascript" src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script type="text/javascript" src="/js/sample.js"></script>
<script>
	initSample();
</script>
</body>
</html>