<% include ../partials/head %>
<div class="navbar navbar-default">
	<div class="container">
		<a href="/" class="navbar-brand"> <%= title %></a>
		<p class="h4 text4"><% if(question.length !=0 ){ %> <%= 'Level ' + (question.id -1 )%>!!<% }else{ %>&nbsp; <% } %>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="text5"><a href="/rules">Rules</a></li>
					<li class="active text5"><button type="button" class="navbar-btn btn-primary btn pull-right button" data-toggle="modal" data-target=".bs-example-modal-lg" id="leaderboard">Leaderboard</button></li>
					<li class="active text5"><a href="/logout"> QUIT QUIZ </a></li>
				</ul>
			</p>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-bottom: 5%">
	<%- message %>
	<div class="row">
		<div class="col-sm-9 center-align">
			<div class="row">
				<div class="col-sm-6 col-md-offset-3">
					<div class="well">
						You are logged in as <%= username %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-offset-1">
					Answers are in <b>lowercase only</b>
				</div>
			</div>
			<% if(question.length != 0){ %>
			<question id="question" class="question-<%= question.id %>">
				<input id="id" style="display: none;" value="<%= question.id %>">
				<div class="text-center text1">
					<h2 class="question_number">Question<%- question.id %></h2>
				</div>
				<div class="col-md-11 col-md-offset-1 border">
					<div class="row">
						<div class="col-sm-12">
							<% if(question.image_url_1 !== 'none'){ %>
							<img id="question_images" src="/image/<%= question.image_url_1 %>" style="width:30%">
							<% }; %>
							<% if(question.image_url_2 !== 'none'){ %>
							<img id="question_images" src="/image/<%= question.image_url_2 %>" style="width:30%">
							<% }; %>
							<% if(question.image_url_3 !== 'none'){ %>
							<img id="question_images" src="/image/<%= question.image_url_3 %>" style="width:30%">
							<% }; %>
							<% if(question.image_url_4 !== 'none'){ %>
							<img id="question_images" src="/image/<%= question.image_url_4 %>" style="width:30%">
							<% }; %>
							<% if(question.image_url_5 !== 'none'){ %>
							<img id="question_images" src="/image/<%= question.image_url_5 %>" style="width:30%">
							<% }; %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div><%- question.statement %></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div style="display: none;"><%- question.hint %></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-inline form">
								<div class="form-group" style="width: 100%">
									<input id="question_id" name="question_id" value="<%= question.id %>" hidden>
									<label class="sr-only" for="answer">Enter Answer</label>
									<input id="answer" type="text" class="form-control col-md-1 box-shadow" style="outline;width: 100%" placeholder="Enter Answer" name="answer">
								</div>
								<div id="form-messages" style="color: red"></div>
								<div id="ajax-messages" style="color: blue"></div>
							</div>
							<div class="center-align">
								<button href="#" class="btn-success btn button1 submit" style="z-index: 99999">	 SUBMIT
								</button>
							</div>	
						</div>
					</div>
				</div>
			</question>
			<% } %>
		</div>
		<div class="col-sm-3" style="overflow-y: auto;height: 100vh">
			<a class="twitter-timeline" href="https://twitter.com/illushun2017">Cognizance IITR</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header center-align">Leaderboard</div>
			<div class="leaderboard" style="overflow-y: auto;height: 86vh;overflow-x: hidden;">
			</div>
		</div>
	</div>
</div>
<script>window.twttr = (function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0],
	t = window.twttr || {};
	if (d.getElementById(id)) return t;
	js = d.createElement(s);
	js.id = id;
	js.src = "https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js, fjs);

	t._e = [];
	t.ready = function(f) {
		t._e.push(f);
	};

	return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>