<% include ../partials/head %>
<div class="navbar navbar-default">
	<div class="container">
		<a href="https://cognizance.org.in/" class="navbar-brand"> COGNIZANCE |</a>
		<a href="#" class="navbar-brand"> TEL-E-TEL </a>
		<p class="h4 text4"> &nbsp; 
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
				<li class="active text5"><button type="button" class="navbar-btn btn-primary btn pull-right button" data-toggle="modal" data-target=".bs-example-modal-lg" id="leaderboard">Leaderboard</button></li>
					<li class="active text5"><a href="/logout"> QUIT QUIZ </a></li>
				</ul>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<%- message %>
	<div class="main">
		<% questions.forEach(function(question) { %>
		<question id="question" class="question-<%= question.id %>">
			<input id="id" style="display: none;" value="<%= question.id %>">
			<div class="text-center text1">
				<h2 class="question_number"></h2>
			</div>
			<div class="col-md-10 col-md-offset-1 border">
			<div class="center-align">
			<img id="question_loader" src="/image/<%= question.image_url %>" style="width:100%">
			</div>
				<div style="text-align: center;"><%- question.statement %></div>
				<div class="form-inline form">
					<div class="form-group" style="width: 100%">
						<label class="sr-only" for="answer">Enter Answer</label>
						<input id="answer" type="text" class="form-control col-md-1 box-shadow" style="outline;width: 100%" placeholder="Enter Answer" name="answer">
					</div>
					<div id="form-messages" style="color: red"></div>
				</div>
				<div class="form1">
					<button href="#" class="btn-success btn button1 submit" style="z-index: 99999">	 SUBMIT
					</button>
				</div>	
			</div>
		</question>
		<% }); %>
	</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="leaderboard">
				<div class="name"></div>
				<div class="score"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>