<% include ../partials/head %>
<div class="navbar navbar-default">
	<div class="container">
		<a href="https://cognizance.org.in/" class="navbar-brand"> Sangram |</a>
		<a href="#" class="navbar-brand"> </a>
		<p class="h4 text4"> SPORTS QUIZ 
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="text5"><a href="/logout"> QUIT QUIZ </a></li>
				</ul>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<%- message %>
	<div class="main">
		<% questions.forEach(function(question) { %>
		<question id="question" class="question-<%= question.id %>">
			<input id="id" style="display: none;" value="<%= question.id %>">
			<div class="text-center text1">
				<h2 class="question_number"></h2>
			</div>
			<div class="col-md-10 col-md-offset-1 border">
				<div class="center-align">
					<!-- <img id="question_loader" src="/images/ajax-loader.gif" style="display: none;"> -->
				</div>
				<div style="text-align: center;"><%- question.statement %></div>
				<form class="form-inline form">
					<!-- <div class="form-group" style="width: 100%">
						<label class="sr-only" for="answer">Enter Answer</label>
						<input id="answer" type="text" class="form-control col-md-1 box-shadow" style="outline;width: 100%" placeholder="Enter Answer" name="answer">
					</div> -->
					<div class="form-group">
						<input type="radio" name="answer" value="<%- question.option_a %>" checked> <%- question.option_a %><br>
						<input type="radio" name="answer" value="<%- question.option_b %>"> <%- question.option_b %><br>
						<input type="radio" name="answer" value="<%- question.option_c %>"> <%- question.option_c %>  <br>
						<input type="radio" name="answer" value="<%- question.option_d %>"> <%- question.option_d %>  <br>
					</div>
					<div id="form-messages" style="color: red"></div>
				</form>
				<div class="form1">
					<button href="#" class="btn-success btn button1 submit">	 SUBMIT
					</button>
				</div>	
			</div>
		</question>
		<% }); %>
	</div>
</div>
<div class="navbar navbar-fixed-bottom">
	<div class="container">
		<div class="bt"><a href="leaderboard">
			<button type="button" class="navbar-btn btn-primary btn pull-right button" id="leaderboard">Leaderboard</button></a>
		</div>
	</div>
</div> 

</body>
</html>