<% include ../partials/head %>
	<style>
		.answer {
			line-height: 2.5em;
		}

		#question {
			margin-left: 2%;
		}

		.masthead {
			min-height: 30rem;
			position: relative;
			display: table;
			width: 100%;
			height: auto;
			padding-top: 8rem;
			padding-bottom: 8rem;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("http://www.kinyu-z.net/data/wallpapers/133/1169957.jpg");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		@media (min-width: 992px) {
			.masthead {
				height: 100vh;
			}
			.masthead h1 {
				font-size: 5.5rem;
			}
		}

		.timer {
			margin: 0px auto;
			width: 100%;
			text-align: center;
		}

		#countbox {
			text-align: center;
		}
	</style>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<%= title %>
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(!message) {%>
					<li>
						<button class="btn btn-info navbar-btn quit-quiz">
							<span class="glyphicon glyphicon-log-in"></span> Submit Quiz</button>
					</li>
					<%}%>
						<li>
							<a href="/logout">
								<span class="glyphicon glyphicon-off logout"></span> Logout</a>
						</li>
			</ul>
		</div>
	</nav>
	<p style="color:#000" class="text-center">
		<b>Your progress will be lost on refreshing the page. Please do not refresh the page</b>
		<br>Duration: 15 minutes
		<br>Quiz will only be submitted after you attempt the last question. To submit the quiz at any point of time, click the
		<b>Submit Quiz Button</b>
	</p>
	<% if(!message) {%>
		<%}%>
			<div class="masthead">
				<div class="container well">
					<%- message %>
						<div class="main">
							<% questions.forEach(function(question) { %>
								<question id="question" class="question-<%= question.id %>">
									<input id="id" style="display: none;" value="<%= question.id %>">
									<div class="text1">
										<h2 class="question_number"></h2>
									</div>
									<hr>
									<div class=" border">
										<div class="center-align">
											<!-- <img id="question_loader" src="/images/ajax-loader.gif" style="display: none;"> -->
										</div>
										<b>
											<%- question.statement %>
										</b>
										<hr>
										<% if(question.image_url){ %>

											<div style="text-align: center;">
												<img src="/image/<%= question.image_url %>" width="100%">
											</div>
											<% } %>
												<form class="form-inline form">
													<!-- <div class="form-group" style="width: 100%">
								<label class="sr-only" for="answer">Enter Answer</label>
								<input id="answer" type="text" class="form-control col-md-1 box-shadow" style="outline;width: 100%" placeholder="Enter Answer" name="answer">
							</div> -->
													<div class="row answers">
														<div class="col-md-12 answer radio">
															<input class="<%- question.id %>a" type="radio" id="answer" name="answer" value="<%- question.option_a %>">
															<%- question.option_a %>
														</div>
														<div class="col-md-12 answer radio">
															<input class="<%- question.id %>b" type="radio" id="answer" name="answer" value="<%- question.option_b %>">
															<%- question.option_b %>
														</div>
														<div class="col-md-12 answer radio">
															<input class="<%- question.id %>c" type="radio" id="answer" name="answer" value="<%- question.option_c %>">
															<%- question.option_c %>
														</div>
														<div class="col-md-12 answer radio">
															<input class="<%- question.id %>d" type="radio" id="answer" name="answer" value="<%- question.option_d %>">
															<%- question.option_d %>
														</div>
													</div>

													<div id="form-messages" style="color: red"></div>
												</form>
												<div class="form1">
													<ul class="pager">
														<li>
															<a class="button1 previous" href="#">Previous</a>
														</li>
														<li>
															<a class="button1 submit" href="#">Next</a>
														</li>
													</ul>
													<span class "msg" style="color:black"></span>
												</div>
									</div>
								</question>
								<% }); %>
									<% if(!message) {%>
										<question id="question" class="last">You Have seen all questions!
											<button type="button" class="btn-primary navabr-btn btn btn-info quit-quiz">SUBMIT QUIZ</button>
											<ul class="pager">
												<li>
													<a class="button1 previous" href="#">Go Back!</a>
												</li>
											</ul>
											<span class "msg" style="color:black"></span>
										</question>
										<%}%>
						</div>
				</div>
			</div>
			<!-- <div class="navbar navbar-fixed-bottom">
	<div class="container">
		<div class="bt"><a href="leaderboard">
			<button type="button" class="navbar-btn btn-primary btn pull-right button" id="leaderboard">Leaderboard</button></a>
		</div>
	</div>
</div>  -->
			</body>
			<script>
				function selectQue() {
					console.log(this.id);
				};
				window.onbeforeunload = function () { return false; }
			</script>
			<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">

					dateFuture = new Date(2018, 2, 14, 22, 15, 21);

				function GetCount() {
					
					dateNow = new Date();                                                                        //grab current date
					amount = dateFuture.getTime() - dateNow.getTime();                //calc milliseconds between dates
					delete dateNow;
					
					// time is already past
					console.log(amount);
					if (amount < 0) {
						document.getElementById('countbox').innerHTML = "The Quiz Has ended!";
					}
					// date is still good
					else {
						days = 0; hours = 0; mins = 0; secs = 0; out = "";

						amount = Math.floor(amount / 1000);//kill the "milliseconds" so just secs

						days = Math.floor(amount / 86400);//days
						amount = amount % 86400;

						hours = Math.floor(amount / 3600);//hours
						amount = amount % 3600;

						mins = Math.floor(amount / 60);//minutes
						amount = amount % 60;

						secs = Math.floor(amount);//seconds

						if (days != 0) { out += days + " day" + ((days != 1) ? "s" : "") + ", "; }
						if (days != 0 || hours != 0) { out += hours + " hour" + ((hours != 1) ? "s" : "") + ", "; }
						if (days != 0 || hours != 0 || mins != 0) { out += mins + " minute" + ((mins != 1) ? "s" : "") + ":"; }
						out += secs + " seconds";
						document.getElementById('countbox').innerHTML = out;

						setTimeout("GetCount()", 1000);
					}
				}

				window.onload = function () { GetCount(); }//call when everything has loaded

	//-->
			</script>
			<div id="countbox"></div>

			</html>
